@model Reuse2.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Trocar senha";
}

<!-- Page heading two starts -->

<div class="page-heading-two">
    <div class="container">
        <h2>Minha conta </h2>
        <div class="clearfix"></div>
    </div>
</div>

<div class="ecommerce">

    <div class="row">
        <div class="col-md-9 col-sm-8 col-md-push-3 col-sm-push-4">
            <h4><i class="fa fa-user color"></i>&nbsp; @ViewBag.Title</h4>
            <hr />

            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.UserId)
                <div class="form-group">
                    @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Enviar" class="btn btn-default" />
                    </div>
                </div>
            }                
        </div>
        <div class="col-md-3 col-sm-4 col-md-pull-9 col-sm-pull-8">

            <!-- Shopping Sidebar -->
            <div class="sidebar">

                <!-- Heading -->
                <h2>Navegação</h2>
                <!-- Sidebar Menu -->
                <ul class="account-nav">
                    <li>@Html.ActionLink("Minha conta", "Index")</li>
                    <li>@Html.ActionLink("Editar conta", "Edit", new RouteValueDictionary { { "name", User.Identity.Name } })</li>
                    <li>@Html.ActionLink("Histórico de trocas", "History")</li>
                    <li>@Html.ActionLink("Meus anúncios", "MyListings")</li>
                    <li>@Html.ActionLink("Troque sua senha", "ChangePassword")</li>
                    <li>@Html.ActionLink("Excluir sua conta", "Delete")</li>
                </ul>

            </div>

        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
