@using Reuse2.Models
@model Reuse2.Models.RegisterViewModel
@{
    ViewBag.Title = "Registre-se";
    var type = Request.Params["type"];
    if (Model != null)
    {
        type = Model.role;
    }
}
<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal col-md-8", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <h4>Crie uma nova conta.</h4>
    <hr />
    if (Request.Path == "/Account/ExternalLoginCallback")
    {
    <p class="text-info">
        Você se autenticou com sucesso com sua conta do <strong>@ViewBag.LoginProvider</strong>.
        Por favor continue seu cadastro preenchendo os campos abaixo:
    </p>
    }
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="hide">
        <input class="form-control" id="role" name="role" type="text" value="@type">
        @Html.CheckBoxFor(m => m.externalLogin, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label required" })
        <div class="col-md-5">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserName, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label required" })
        <div class="col-md-5">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label required" })
        <div class="col-md-5">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label required" })
        <div class="col-md-5">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.endereco, new { @class = "col-md-2 control-label required" })
        <div class="col-md-5">
            @Html.TextBoxFor(m => m.endereco, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.endereco, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.cep, new { @class = "col-md-2 control-label required" })
        <div class="col-md-5">
            @Html.TextBoxFor(m => m.cep, new { @class = "form-control", placeholder = "Apenas números" })
            @Html.ValidationMessageFor(m => m.cep, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.bairro, new { @class = "col-md-2 control-label" })
        <div class="col-md-5">
            @Html.TextBoxFor(m => m.bairro, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.estado, new { @class = "col-md-2 control-label required" })
        <div class="col-md-5">
            <select class="form-control" data-val="true" data-val-required="Este campo é obrigatório" id="estado" name="estado">
                <option value=""></option>
            </select>
            @Html.ValidationMessageFor(m => m.estado, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.cidade, new { @class = "col-md-2 control-label required" })
        <div class="col-md-5">
            <select class="form-control single-line valid" data-val="true" data-val-required="Este campo é obrigatório" id="cidade" name="cidade"></select>
            @*Html.TextBoxFor(m => m.cidade, new { @class = "form-control" })*@
            @Html.ValidationMessageFor(m => m.cidade, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.telefone, new { @class = "col-md-2 control-label" })
        <div class="col-md-5">
            @Html.TextBoxFor(m => m.telefone, new { @class = "form-control", placeholder = "Apenas números" })
            @Html.ValidationMessageFor(m => m.telefone, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label required" })
        <div class="col-md-5">
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = "Apenas números" })
            @Html.ValidationMessageFor(m => m.PhoneNumber, null, new { @class = "text-danger" })
        </div>
    </div>
    if (type != "User")
    {
        <div class="form-group">
            @Html.LabelFor(model => model.tipoDeInstituicao, "Tipo da instituição", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-5">
                @Html.DropDownList("tipoDeInstituicaoID", null, "Selecione uma opção", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.tipoDeInstituicao, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.cnpj, new { @class = "col-md-2 control-label required" })
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.cnpj, new { @class = "form-control", placeholder = "Apenas números" })
                @Html.ValidationMessageFor(m => m.cnpj, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.nomeDoResponsavel, new { @class = "col-md-2 control-label required" })
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.nomeDoResponsavel, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.nomeDoResponsavel, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.descricaoDaCausa, new { @class = "col-md-2 control-label required" })
            <div class="col-md-5">
                @Html.TextAreaFor(m => m.descricaoDaCausa, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.descricaoDaCausa, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.itensNecessitados, new { @class = "col-md-2 control-label" })
            <div class="col-md-5">
                @Html.TextAreaFor(m => m.itensNecessitados, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.itensNecessitados, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.metodoDeColeta, new { @class = "col-md-2 control-label" })
            <div class="col-md-5">
                @Html.TextAreaFor(m => m.metodoDeColeta, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.metodoDeColeta, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.areaDeCobertura, new { @class = "col-md-2 control-label required" })
            <div class="col-md-5">
                @Html.TextAreaFor(m => m.areaDeCobertura, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.areaDeCobertura, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.restricoesDeColeta, new { @class = "col-md-2 control-label" })
            <div class="col-md-5">
                @Html.TextAreaFor(m => m.restricoesDeColeta, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.restricoesDeColeta, null, new { @class = "text-danger" })
            </div>
        </div>
    }
    <div class="form-group">
        <div>
            <label for="file" class="control-label col-md-2">Avatar</label>
            <div class="col-md-5">
                <input type="file" name="file" id="file" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-default" value="Registrar" />
        </div>
    </div>
}
@if (Request.Path != "/Account/ExternalLoginCallback")
{
<div class="col-md-4">
    <section id="socialLoginForm">
        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
    </section>
</div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="../../Content/js/jquery.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $.getJSON('../../estados_cidades.json', function (data) {
            var items = [];
            var options = '<option value="">Selecione um estado</option>';
            $.each(data, function (key, val) {
                options += '<option value="' + val.sigla + '">' + val.nome + '</option>';
            });
            $("#estado").html(options);

            $("#estado").change(function () {

                var options_cidades = '';
                var str = "";

                $("#estado option:selected").each(function () {
                    str += $(this).text();
                });

                $.each(data, function (key, val) {
                    if (val.nome == str) {
                        $.each(val.cidades, function (key_city, val_city) {
                            options_cidades += '<option value="' + val_city + '">' + val_city + '</option>';
                        });
                    }
                });
                $("#cidade").html(options_cidades);

            }).change();

        });

    });

</script>
